/* Hide big grey page title on homepage only, keep blue header bar */
.md-main .md-content__inner h1:first-of-type {
    display: none;
}

.hero {
  text-align: left;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 8px;
  margin-top: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.hero h1 {
  font-size: 2.0rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 0.8rem;
  max-width: 800px;
  margin: 0 auto 1rem auto;
  line-height: 1.6;
}

:root {
  --md-primary-fg-color: #f1f1f1;   /* light grey bar */
  --md-primary-bg-color: #1f2937;   /* dark text/icons */
}

/* Active item in left navigation */
.md-nav__item--active > .md-nav__link {
  color: #4f948eff;
  font-weight: 500;
}

